body {
  background-color: #202020;
  color: #969696;
  margin: 0;
}

.allContent {
    width: 100%;
    max-width: 1200px;    
    min-width: 800px;
    max-height: 750px;     
    margin: 0 auto;
    position: relative;
}

#banner {
  width: 1100px;
  height: 250px;
}

.name {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.name h1 {
  font-family: Montserrat Alternates;
  font-size: 121px;
  text-align: center;
  margin: 35px 0 0px 0;
  line-height: 1;
  color: #E4423F;
}

#T {
  transform: translateX(-100vw);
  animation: slideFromRight 2s 0.6s ease forwards;
}

#O {
  transform: translateX(-100vw);
  animation: slideFromRight 2s 0.4s ease forwards;
}

#N {
  transform: translateX(-100vw);
  animation: slideFromRight 2s 0.2s ease forwards;
}

#Y {
  padding-right: 2vw;
  animation: slideFromRight 2s ease forwards;
}

#L {
  padding-left: 2vw;
  animation: slideFromLeft 2s ease forwards;
}

#I {
  transform: translateX(100vw);
  animation: slideFromLeft 2s 0.2s ease forwards;
}

#N2 {
  transform: translateX(100vw);
  animation: slideFromLeft 2s 0.4s ease forwards;
}

#S {
  transform: translateX(100vw);
  animation: slideFromLeft 2s 0.6s ease forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

body h2 {
  font-family: Lexend;
  font-size: 40px;
  text-align:left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header {
  text-align: center;
}

body h3 {
  font-family: Lexend;
  font-size: 16px;
  text-align: center;
  padding: 5px 0 34px 0;
}

main article h2 {
  font-family: Montserrat Alternates;
  font-size: 32px;
  padding: 20px 0 10px 86px;
  text-transform: uppercase;
  margin-top: 80px;
}

main article a {
  font-family: Lexend;
  font-size: 21px;
  text-decoration: none;
}

.columns {
  display: flex;
  gap: 0px;
  position: relative;
  z-index: 1;
}

.button {
  animation: hoverOut 1s ease forwards;
  color: white;
  padding: 16px 0 16px 10px;
}

.button a:link {
  color: white; 
  text-decoration: none;
  padding-bottom: 0;
}

.button a:visited {
  color: white;
}

.button:hover {
  animation: hoverIn 1s ease forwards;
}

.button a {
  transition: 1s;
  color: white;
  padding-bottom: 0;
}

@keyframes hoverIn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes hoverOut {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.link {
  display: flex;
  align-items: center;
  padding-left: 100px;
  position: relative;
  top: 1.5vw;
  margin: 0;
  transition: 1s;
}

.link a {
  transition: color 1s ease;
}

.link a:hover {
  transition: 1s;
  color: #E4423F;
}

.hollowCircle {
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  border: 4px solid #E4423F;
  border-radius: 50%;
  padding-top: 0;
  opacity: 0;
  transition: opacity 1s ease;
  transition-delay: 0.2s;
}

.link:hover .hollowCircle {
  opacity: 1;
}

.circuitPattern {
  position: absolute;
  z-index: -1;
  height: 100%;
  overflow: hidden;
}

.pattern1, .pattern2, .pattern3, .pattern4 {
  position: absolute;
}

.pattern1 { 
  top: 40%; 
  left: 2%; 
}

.pattern2 { 
  top: 40%; 
  left: 25.5%; 
}

.pattern3 { 
  top: 40%; 
  left: 46.5%; 
}

.pattern4 { 
  top: 40%; 
  left: 76%; 
}

footer {
  padding: 10px 0 10px 0;
  margin:30px 650px 0 650px;
  font-family: Lexend;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  top: 1vw;
  left: 30vw;
}

footer p {
  margin: 0;
  z-index: 1;
}

footer address a:link {
  color: white;
}