body {
  background-color: #202020;
  color: #969696;
  margin: 0;
  overflow-x: hidden; 
  overflow-y: auto;
}

#allContent {
    width: 100%;
    max-width: 1200px;    
    min-width: 800px;
    max-height: 750px;     
    margin: 0 auto;
    position: relative;
}

h1 {
  font-family: Montserrat Alternates;
  font-size: 80px;
  text-align: center;
  margin: 30px 0 35px 0;
  line-height: 1;
  color: #f3f3f3;
}

h2 {
    font-family: Lexend;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
}

#filmBorder1 {
    overflow: hidden;
    margin-top: 50px;
}

.filmImg1 {
    width: 650px;
    border-radius: 10px;
    position: relative;
    object-fit: cover;
    margin-right: 25px;
}

.filmImg2 {
    display: block;
    width: 283px;
    border-radius: 20px;
    margin-top: 40px;
}

#conveyorBelt1 {
    display: flex;
    width: max-content;
    animation: driftLeft 30s linear infinite;
}

#conveyorBelt1:hover {
  animation-play-state: paused;
}

@keyframes driftLeft {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-50%);
  }
}

#button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

button {
  font-family: Lexend;
  font-size: 21px;
  width: 138px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  margin: 10px 5px 30px 0;
  background-color: #E4423F;
  color: #f5f5f5;
  border: 4px solid transparent;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

button:hover {
    background-color: #202020;
    border-color: #E4423F;
    color:#E4423F;
}

#bottom-half {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#filmImg3 {
  display: block;
  width: 890px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

#kestrel {
    width: 890px;
    height: 547px;
    overflow: hidden;
    position: relative;
    transform: translate(20px, 40px);
}

#last-line{
  display: flex;
}

#zoom-instructions {
  padding-left: 250px;
}