body {
  background-color: #202020;
  color: #969696;
  margin: 0;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#allContent {
    width: 100%;
    max-width: 1200px;    
    min-width: 800px;
    max-height: 750px;     
    margin: 0 auto;
    position: relative;
}

h1 {
  font-family: Montserrat Alternates;
  font-size: 80px;
  text-align: center;
  margin: 30px 0 35px 0;
  line-height: 1;
  color: #E4423F;
}

h2 {
    font-family: Lexend;
    font-size: 24px;
    text-align: center;
    padding-bottom: 30px;
}

#filmBorder1 {
    background-color: #797979;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#filmBorder2 {
    background-color: #797979;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    transform: translateY(50px);
    overflow: hidden;
    position: relative;
}

.filmImg {
    width: 340px;
    border-radius: 10px;
    position: relative;
    top: 15px;
    left: 20px;
    object-fit: cover;
    margin-right: 15px;
}

.conveyorBelt {
    display: flex;
    width: max-content;
    animation: driftLeft 40s linear infinite;
}

@keyframes driftLeft {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-50%);
  }
}