body {
  background-color: #202020;
  color: #969696;
  margin: 0;
  overflow: hidden;
}

#allContent {
    width: 100%;
    max-width: 1200px;    
    min-width: 800px;
    max-height: 750px;     
    margin: 0 auto;
    position: relative;
}

h1 {
  font-family: Montserrat Alternates;
  font-size: 80px;
  text-align: center;
  margin: 30px 0 35px 0;
  line-height: 1;
  color: #E4423F;
}

h2 {
    font-family: Lexend;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}

#filmBorder1, #filmBorder2 {
    background-color: #575757;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
}

.filmImg1 {
    width: 650px;
    border-radius: 10px;
    position: relative;
    top: 40px;
    left: 20px;
    object-fit: cover;
    margin-right: 25px;
}

#conveyorBelt1 {
    display: flex;
    width: max-content;
    animation: driftLeft 30s linear infinite;
}

#conveyorBelt1:hover {
  animation-play-state: paused;
}

@keyframes driftLeft {
  from {
    transform: translateX(0);
  } to {
    transform: translateX(-50%);
  }
}

#button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 500px;
  position: relative;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
  font-size: 21px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  background-color: #E4423F;
  color: #f5f5f5;
  border: 4px solid transparent;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

button:hover {
    background-color: #202020;
    border-color: #E4423F;
    color:#E4423F;
}

.filmImg2 {
    width: 650px;
    border-radius: 10px;
    position: relative;
    top: 40px;
    left: 20px;
    object-fit: cover;
    margin-right: 25px;
}

.conveyorBelt2 {
    display: flex;
    width: max-content;
    animation: driftLeft 30s linear infinite;
}

.conveyorBelt2:hover {
  animation-play-state: paused;
}

#filmBorder1 {
  opacity: 1;
}

#filmBorder2 {
  opacity: 0;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
}