.allContent {
    width: 100%;
    max-width: 1200px;    
    min-width: 800px;
    max-height: 750px;     
    margin: 0 auto;
    position: relative;
    display: flex;
    gap: 100px;
    justify-content: center;
}

body {
    background-color: #202020;
    color: #f5f5f5;
}

article {
    margin: 0;
    padding: 30px 0 0 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'flavors';
    font-size: 150px;
    color: #AAB446;
}

#madlib-questions {
    display: block;
}

#madlib-output {
    display: none;
}

form input, form label {
    display: block;
}

span {
    font-weight: bold;
    color: #E4423F;
}

#tentacle {
  position: fixed;
  bottom: -1vh;
  height: auto;
  display: block; 
}

#eye {
    position: absolute;
    top: 0;
    right: 6vw;
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-family: Montserrat Alternates;
    font-size: 32px;
    padding: 20px 0 20px 0;
}

p {
    font-family: Lexend;
    font-size: 21px;
    line-height: 40px;
    color: #f5f5f5;
}

.inputBoxes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 0;
}

label {
    font-family: Lexend;
    font-size: 21px;
}

input[type="text"] {
    font-family: Lexend;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: box-shadow 0.2s ease;
    margin-bottom: 10px;
}

input[type="text"]:focus {
    box-shadow: 0 0 0 4px #E4423F;
}

input[type="submit"] {
    margin-top: 20px;
    font-family: Lexend;
    font-size: 21px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: #E4423F;
    color: #f5f5f5;
    border: 2px solid transparent;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #202020;
    border-color: #E4423F;
    color:#E4423F;
}

button {
    margin-top: 20px;
    font-family: Lexend;
    font-size: 21px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: #E4423F;
    color: #f5f5f5;
    border: 2px solid transparent;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

button:hover {
    background-color: #202020;
    border-color: #E4423F;
    color:#E4423F;
}