body {
    width: 100%;
    max-width: 1200px;    
    min-width: 800px;
    max-height: 750px;     
    margin: 0 auto;
    position: relative;
    background-color: #800000;
}

#logo {
    margin: 50px auto 0 auto;
    display: block;
}

#closed-scroll {
    display: block;
    margin: 0 auto;
}

#instructions-label {
    position: absolute;
    top: 630px;           
    left: 49%;           
    transform: translateX(-49%);
    font-size: 21px;
    font-family: Almendra SC;
    text-decoration: underline;
    outline: none;
    border: none;
    background-color: transparent;
    transition: color 0.2s ease, 
}

#instructions-label:hover {
    color: #f5f5f5;
}

#instructions-page {
    display: none;
}

#instructions-page p {
    position: absolute;
    font-size: 21px;
    font-family: Almendra SC;
}

#instructions-page #line1 {
    top: 150px;           
    left: 50%;           
    transform: translateX(-50%);
}

#instructions-page #line2 {
    top: 225px;           
    left: 50%;           
    transform: translateX(-50%);
}

#instructions-page #line3 {
    top: 300px;           
    left: 50%;           
    transform: translateX(-50%);
}

#instructions-page #line4 {
    top: 375px;           
    left: 50%;           
    transform: translateX(-50%);
    text-align: center;
}

#open-scroll {
    display: block;
    position: absolute;
    top: 0;           
    left: 50%;           
    transform: translateX(-50%);
}

#startgame {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 30px 0;
    font-family: Lexend;
    font-size: 21px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    outline: none;
    background-color: #f5f5f5;
    color: #202020;
    border: 4px solid transparent;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

#startgame:hover {
    background-color: transparent;
    border-color: #f5f5f5;
    color:#f5f5f5;
}

#close-instructions {
    position: absolute;
    top: 485px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Lexend;
    font-size: 21px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    border: 4px solid #005EA0;
    color: #005EA0;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

#close-instructions:hover {
    background-color: #005EA0;
    border-color: transparent;
    color: #f5f5f5;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

#gameOptions {
    display: flex;
    justify-content: space-between;
}

#turnInfo, #gemInfo {
    background-color: rgba(245, 245, 245, 0.4);
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px 40px 10px 40px;
}

#turnInfo p, #gemInfo p {
    font-family: Caesar Dressing;
    margin: 10px 0 10px 0;
}

#currentTurn, #magicGems {
    font-size: 32px;
}

#finalTurn {
    font-size: 18px;
}

#gemInfo {
    text-align: right;
}

#menuOptions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

#option1, #option2, #option3 {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    background-color: #EACDCD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    outline: none;
    background-color: #EACDCD;
    color: #f5f5f5;
    border: 4px solid transparent;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

#option1:hover, #option2:hover, #option3:hover {
    background-color: transparent;
    border-color: #005EA0;
    color:#005EA0;
}

.icons {
	font-size: 16px;
	color: #005EA0;
}

#fourCards {
    display: flex;
    gap: 25px;
    margin-top: 70px;
}

#deal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#deal-cards {
    font-family: Lexend;
    font-size: 21px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    outline: none;
    background-color: #005EA0;
    color: #f5f5f5;
    border: 4px solid transparent;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

#deal-cards:hover {
    background-color: transparent;
    border-color: #005EA0;
    color:#005EA0;
}